body {
    font-family: Veranda,Arial,Helvetica,sans-serif;
    font-size: 12px;
    background: var(--k-body-bg);
    color: var(--k-text-primary);
    padding: 0px;
    margin: 0px;
}
.footer {
    font-family: Veranda,Arial,Helvetica,sans-serif;
    font-size: 10px;
}
td {
    font-family: Veranda,Arial,Helvetica,sans-serif;
    font-size: 12px;
    padding: 4px;
    margin: 4px;
}
blockquote {
    font-family: Veranda,Arial,Helvetica,sans-serif;
    font-style: italic;
    font-size: 12px;
}
pre {
    padding: 5px;
    background-color: var(--k-pre-bg);
    color: var(--k-text-black);
    margin-left: 20px;
    font-size: 11px;
}
:link {
    color: var(--k-link-color);
}
:visited {
    color: var(--k-link-visited);
}
/* General formatting ============================= */
.k-section {
    border: 1px solid var(--k-border-color);
    margin: 10px 10px 10px 10px;
    padding: 0px 0px 0px 0px;
}
.k-sectionHeader {
    display: block;
    background: var(--k-stats-bg);
    color: var(--k-text-primary);
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}
.k-sectionHeader:hover {
    background: var(--k-stats-section-bg);
    color: var(--k-text-primary);
    text-decoration: none;
}
.k-SectionContent {
    padding: 10px 10px 10px 10px;
}
.k-textDisplay {
    font-family: Veranda,Arial,Helvetica,sans-serif;
    font-size: 12px;
    color: var(--k-text-primary);
}
.k-textRight {
    text-align: right;
}
.k-button {
    display: inline;
    margin: 4px;
    padding: 2px;
    text-align: center;
    border: 3px solid var(--k-dialog-accent);
    border-radius: 5px;
    -moz-border-radius: 5px;
    color: var(--k-dialog-button-color);
    background: var(--k-dialog-button-bg);
    opacity: 100;
    width: 7em;
    height: 2em;
}   

/* Statistics ===================================== */
table.k-stats {
    background: var(--k-stats-bg);
    font-size: 14px;
    font-weight: bold;
    padding: 5px 5px 5px 5px;
    margin: 0px 0px 0px 0px;
}
table.k-stats th {
    text-align: center;
    padding: 0px 10px 0px 10px;
    margin: 0px 0px 0px 0px;
}
table.k-stats td {
    text-align: right;
    padding: 0px 10px 0px 10px;
    margin: 0px 0px 0px 0px;
}
table.k-stats td.description {
    text-align: left;
    padding: 0px 10px 0px 10px;
    margin: 0px 0px 0px 0px;
    width: 45%;
}
table.k-stats tr {
    border-bottom: 1px solid var(--k-border-color);
}


#k-Statistics div {
    margin-left: 20px;
    background: var(--k-stats-section-bg);
}
#k-Statistics h1 {
    background: var(--k-stats-bg);
    font-size: 12px;
}

/* Chat ======================================= */
#k-chatText {
    /* width: 500px; */
    /* height: 200px; */
    background: var(--k-chat-bg);
    overflow: auto;
}
#k-chatText .KKChatLineTime {
    color: var(--k-chat-time)
}
#k-chatText .KKChatLineFrom {
    color: var(--k-chat-from);
}
#k-chatText .KKChatLineExpression {
    color: var(--k-chat-expression);
}
#k-chatText .ChatTypeStatusBlue {
    color: var(--k-chat-status-blue);
}
#k-chatText .ChatTypeStatusDarkBlue {
    color: var(--k-chat-status-darkblue);
}
#k-chatText .ChatTypeLindenChat {
    color: var(--k-chat-linden);
}
#k-chatText .ChatTypeObjectChat {
    color: var(--k-chat-object);
}
#k-chatText .ChatTypeAlert {
    color: var(--k-chat-alert);
}
#k-chatText .ChatTypeError {
    color: var(--k-chat-error);
}
#k-chatInput {
    background: var(--k-chat-bg);
}
/* Avatars ======================================= */
#k-avatars-table td {
    padding: 1px 0px 0px 5px;
    margin: 0px 0px 0px 0px;
}
.k-avatars-Name-class {
    color: var(--k-avatar-name);
}
.k-avatars-Region-class {
    color: var(--k-avatar-region)
}
/* Stats ======================================= */
#k-footer {
    width: 100%;
    text-align: right;
}
#k-footerStats {
    text-align: right;
    padding: 5px 10px 0px 0px;
    color: var(--k-text-muted);
}
